html { 
  background: url(./sysPics/FondecSynaptique.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Ubuntu', sans-serif;
	padding:0px;
	margin:0px;
	color: #cbcaca;
}

h1{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size:50pt;
}

p {
	font-family: 'Ubuntu', sans-serif;
	font-size:100%;
	color:#da620b;
	text-align: center;
}

label { 
	font-size:35%;
	font-family: 'Ubuntu', sans-serif;
	color: #000000;
	display: block;
	text-align: left;
}

.inputDefault {
	text-align: left;
	font-family: 'Ubuntu', sans-serif;
	font-size:50%;
	padding-left: 10px;
	border: solid 2px #000000;
	outline: 0;
	width: 30%;
	height: 80%;
	max-width: 80%;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	border-radius: 15px;
	background-color: #DDDBC2;
}

.menuInput {
	height: 100%;
	width: 80%;
	padding: 0%;
	padding-right: 5%;
	font-family: 'Ubuntu', sans-serif;
	font-size:64%;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
 	background-size: 100% 100%;
 	text-align: right;
}

.wordForm {
	width: 100%;
	max-width: 100%;
}

input:hover, textarea:hover,
input:focus, textarea:focus { 
	/*border-color: #222222; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;*/
}

.form label { 
	margin-left: 10px; 
	color: #898989; 
	display: block;
	font-size: 64%;
}

button {
	/*font-family: 'Ubuntu', sans-serif;
	font-size:100%;
	color: #da620b;
	border:1px solid #d5d5d5;
	background-color:white;
	text-align:center;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;*/
}

button:hover {
	/*background-color:#da620b;
	color:white;*/
}

.picsDiv, .phonDiv, .listDiv, .center, .centerMenu,.centerInput {
	font-size:100%;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	text-align: center; 
}

.picsDiv {
	height: 50%;
}

.centerMenu {
	text-align: right;
}

.lessMargin {
	margin-right: 10%;
	margin-left: 5%;
	width: 85%;
}

.centerInput {
	display: inline-block;
	font-size:100%;
	margin: auto;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 40%;
	height: 100%;
	margin-left: 30%;
	margin-right: 30%
}

.center, .centerMenu {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 1%;
	padding-bottom: 1%;
}

.shadow {
	width: 100px;
	height: 100px;
	-webkit-filter: drop-shadow( 0px 0px 1px rgba(0,0,0,0.4) );
			filter: drop-shadow( 0px 0px 1px rgba(0,0,0,0.4) );
}

.choosen {
	width: 100px;
	height: 100px;
	-webkit-animation: myAnim 1s infinite;
	-moz-animation: myAnimMoz 1s infinite;
}

@-webkit-keyframes myAnim
{
  from {-webkit-transform: scale(1,1) }
  50% {-webkit-transform: scale(1.1,1.1)}
  to {-webkit-transform: scale(1,1) }
}

@-moz-keyframes myAnimMoz
{
  from {-moz-transform: scale(1,1) }
  50% {-moz-transform: scale(1.1,1.1)}
  to {-moz-transform: scale(1,1) }
}

@font-face {
	font-family: 'BebasNeueRegular';
	src: url('./fonts/BebasNeue-webfont.eot');
	src: url('./fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/BebasNeue-webfont.woff') format('woff'),
		 url('./fonts/BebasNeue-webfont.ttf') format('truetype'),
		 url('./fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.popUpBg {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 10;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	text-align: center;
}

.menuBg {
	z-index: 30;
	text-align: center;
	-webkit-filter: grayscale(100%)
}

#popUpSuccess {
	-webkit-transition: opacity 0.5s ease-in-out;
	margin-left: 5%;
}

#menuSuccess {
	-webkit-transition: -webkit-filter 0.5s;
	margin-left: 5%;
	height: 100%;
}

#opacityFilter {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	background-color: black;
	opacity: 0;
	z-index: 9;
	pointer-events:none;
	-webkit-transition: opacity 0.5s ease-in-out;
}

.popUpContent {
	font-family: 'Ubuntu', sans-serif;
	font-size:16pt;
	color: #da620b;
	border:1px solid #d5d5d5;
	background-color:white;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	height: 300px;
	width: 400px;
	max-height: 100%;
	max-width: 80%;
	position: relative;
	background-color:white;
	z-index: 11;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
}

.centerXY {
	position: fixed;
	margin: 0px;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 11;
}

#popUpContainer {
	position: fixed;
	margin: 0px;
	height: 0%;
	top: 0px;
	left: 0px;
}

#menuContainer {
	position: fixed;
	margin: 0px;
	height: 0%;
	top: 0px;
	left: 0px;
}

.centerXY, #popUpSuccessContent, #menuSuccessContent {
	display: inline-block;
	vertical-align: middle;
}

.leftMenuClose, .leftMenuCloseB {
	position: fixed;
	margin: 0px;
	height: 100%;
	width: 5%;
	top: 0px;
	left: 0px;
	background-color:#aa2d22;
	z-index: 25;
	opacity: 1;
	-webkit-transition: width 0.5s ease;
	-moz-transition: width 0.5s ease;
}

.mainBar {
	BACKGROUND-IMAGE: url("sysPics/SymboleMenu.svg");
	background-repeat: no-repeat;
 	background-position : 50% 50%;
 	background-size: 60% 60%;
}

.leftMenuOpen {
	position: fixed;
	margin: 0px;
	height: 100%;
	width: 15%;
	top: 0px;
	left: 0px;
	background-color:#aa2d22;
	z-index: 25;
	opacity: 1;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
}

.optionsBarOpen {
	position: fixed;
	margin: 0px;
	height: 100%;
	width: 30%;
	top: 0px;
	left: 0px;
	background-color:#aa2d22;
	color: white;
	z-index: 10;
	opacity: 1;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	text-align: left;
	padding-left: 15%;
}

.leftMenu {
	margin: 0%;
	margin-bottom: 2%;
	text-align: left;
	color: white;
}

@media (orientation:portrait) {
	.leftMenuOpen {
		width: 100%;
		background-size: 50%;
	}
}

.tipPanel {
	border-radius: 15px;
	position: absolute;
	margin: 0px;
	height: 34%;
	width: 20%;
	top: 6%;
	left: 78%;
	background-color:#faffd0;
	border: solid 2.5px #000000;
	box-sizing: border-box;
	z-index: 11;
	opacity: 1;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	font-family: 'Ubuntu', sans-serif;
	color: #da620b;
	overflow: hidden;
}

@media screen and (max-width: 1100px) {
	.tipPanel {
		height: 18%;
		width: 93%;
		top: 80%;
		left: 6%;
	}
}

.introCache {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 31;
	BACKGROUND-IMAGE: url("sysPics/CacheLogo2.svg");
	background-repeat: no-repeat;
 	background-position : 50% 50%;
 	background-size: cover;
 	-webkit-transition: 2s ease-in-out;
}

.introBack {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 30;
	background-color: white;
	opacity: 1;
	-webkit-transition: opacity 1.5s ease-in-out;
	-moz-transition: opacity 1.5s ease-in-out;
}

.inputIntro {
	position: absolute;
	width: 20%;
	height: 5%;
	z-index: 30;
	left: 50%;
	top: 47%;
}

.arrowButton {
	position: absolute;
	width: 5%;
	height: 10%;
	left: 67%;
	top: 42%;
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
	BACKGROUND-IMAGE: url("sysPics/ArrowSubmit.svg");
	background-repeat: no-repeat;
 	background-size: 100% 100%;
 	z-index: 31;
}

.arrowButton:hover {
	border-color: rgba(0, 0, 0, 0);
}

.submitLevel {
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
	BACKGROUND-IMAGE: url("sysPics/ArrowSubmit.svg");
	background-repeat: no-repeat;
 	background-size: 100% 100%;
 	z-index: 10;
	left: 70%;
	width: 5%;
	height: 5%;
}

.correct {
	BACKGROUND-IMAGE: url("sysPics/TickValidation.svg");
	left: 65%;
	width: 10%;
	height: 10%;
}

.incorrect {
	BACKGROUND-IMAGE: url("sysPics/CrossInvalid.svg");
	left: 65%;
	width: 10%;
	height: 10%;
}

.submitLevel:hover {
	border-color: rgba(0, 0, 0, 0);
}

.buttonLevel {
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
 	background-size: 100% 100%;
 	z-index: 10;
	left: 70%;
	width: 6%;
	height: 6%;
}

.buttonLevel:hover {
	border-color: rgba(0, 0, 0, 0);
}

.reloadLevel {
	BACKGROUND-IMAGE: url("sysPics/RandomArrow.svg");
	margin-left: 40px;
}

.allLevels {
	BACKGROUND-IMAGE: url("sysPics/Mosaique.svg");
	margin-left: 100px;
}

.logoMenu {
	width: 90%;
}

.menuButtons {
	height: 6%;
}

.indexOptions {
	z-index:10;
}

.white {
	position: absolute;
	left: 58%;
	top: 44%;
	color: white;
}

.colorButton {
	display: inline-block;
	-webkit-appearance: none;
	min-width: 0px;
	height: 100%;
	border: solid 2.5px #000000;
	background-color: white;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-right: 8px;
	padding: 0px;
}

.colorRed {
	background-color: #aa2d22;
}

.colorOrange {
	background-color: #f06025;
}

.colorYellow {
	background-color: #ffd318;
}

.colorGreen {
	background-color: #348b5d;
}

.colorBlue {
	background-color: #2167a7;
}

.colorPurple {
	background-color: #6a347f;
}

.colorGrey {
	background-color: #4e5565;
}

.colorNone {
	background-color: rgba(0,0,0,0);
}

#buttonSelected {
	BACKGROUND-IMAGE: url("sysPics/TickSelected.svg");
	background-repeat: no-repeat;
 	background-size: 100% 100%;
}

.cleoDiv, .cleoInput {
	position: absolute;
	height: 100%;
	margin-left: 7%;
	width: 86%;
}

#cleoImg {
	position: absolute;
	top: -10%;
	left: 75%;
	height: 80%;
	width: 15.5%;
	z-index: 10;
	-webkit-animation: linear levit 5s infinite;
}

#cleoEye {
	position: absolute;
	top: 27%;
	left: 79.75%;
	height: 6%;
	width: 6%;
	z-index: 11;
	-webkit-animation: linear blink 5s infinite;
}

@-webkit-keyframes levit {
	from {-webkit-transform: translate(0, -20px);}
	20% {-webkit-transform: translate(0, -15px);}
	50% {-webkit-transform: translate(0, 0px);}
	80% {-webkit-transform: translate(0, -15px);}
	to {-webkit-transform: translate(0, -20px);}
}

@-webkit-keyframes blink {
  from {-webkit-transform: translate(0, -20px) scale(1,1);}
  8% {-webkit-transform: translate(0, -17.3px) scale(1,1);}
  10% {-webkit-transform: translate(0, -16.7px) scale(1,0);}
  12% {-webkit-transform: translate(0, -16px) scale(1,1);}
  20% {-webkit-transform: translate(0, -15px) scale(1,1);}
  50% {-webkit-transform: translate(0, 0px) scale(1,1);}
  80% {-webkit-transform: translate(0, -15px) scale(1,1);}
  to {-webkit-transform: translate(0, -20px) scale(1,1);}
}

.toColor {
	font-family: 'Ubuntu', sans-serif;
	font-weight:bold;
}

.cleoTip {
	position: absolute;
	top: 15%;
	left: 0%;
	width: 60%;
	min-height: 12%;
	color: black;
	border: solid 2.5px #000000;
	background-color: #e5e1d3;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 15px;
	font-size: 19px;
	padding-right: 8%;
	padding-left: 2%;
	text-align: left;
	padding-top: 2%;
	padding-bottom: 2%;
	z-index: 20;
}

.cleoButton {
	z-index: 10;
	top: 6%;
}

#next {
	BACKGROUND-IMAGE: url("sysPics/ArrowNext.svg");
	left: 62%;
}

#prev {
	BACKGROUND-IMAGE: url("sysPics/ArrowPrev.svg");
	left: 55%;
}

#dismiss {
	BACKGROUND-IMAGE: url("sysPics/CrossDismiss.svg");
	left: 4%;
}

#littleArrow {
	position: absolute;
	z-index: 20;
	width: 4%;
	height: auto;
	left: 68.35%;
	top: 30%;
 	z-index: 21;
 	text-align: left;
 	-webkit-animation: linear levit 5s infinite;
}

.symboleMenu {
	position: absolute;
	top: 50%;
}

.link {
	font-size: 80%;
}

.italic {
	font-style:italic
}

.underlined {
	text-decoration:underline
}

.allLevelsBg {
	position:absolute;
	background-color: rgba(0, 0, 0, 0);
	margin:0%;
	margin-left: 5%;
	height: 0%;
	width: 0%;
	top: 6%;
	left: 6%;
	-webkit-transition: 0.8s ease;
	opacity: 0;
	z-index: 24;
}

th {
	padding: 0%;
}

.vignette {
	width:100%;
	max-height:70%;
	-webkit-transition: 0.8s ease;
}

.chooseImage {
	position: absolute;
	bottom: 1%;
	left:7%;
	width: 91%;
	height: 25%;
	color: black;
	border: solid 2.5px #000000;
	background-color: #DDDBC2;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 15px;
	padding: 0%;
	padding-top: 1%;
}

.chooseLabel {
	position: absolute;
	font-family: 'Ubuntu', sans-serif;
	color: black;
	bottom: 23%;
	left:8%;
	font-size: 70%;
	margin: 0%;
	height: 1%;
	text-align: center;
}

.listPic {
	width:9.4%;
	height: 80%;
}

.listLabel {
	display: inline-block;
	height:20%;
	width: 8.8%;
	padding-right: 0.6%;
	font-size: 80%;
}

#nextPics {
	height: 20%;
	width:10%;
	top:-12%;
	BACKGROUND-IMAGE: url("sysPics/ArrowNext.svg");
	left: 88%;
}

#prevPics {
	height: 20%;
	width:10%;
	top:-12%;
	BACKGROUND-IMAGE: url("sysPics/ArrowPrev.svg");
	left: 80%;
}