body {
	width:100%;
	margin:0px;
	padding:0px;
	top:0;
	/*background-image: url(./sysPics/bg.png);
	background-repeat: repeat;*/
}

h1, h2, h3, h4, h5, h6{
	font-family: 'BebasNeueRegular',Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
	color: #cbcaca;
}

h1{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size:50pt;
}

p {
	font-family: 'BebasNeueRegular',Arial, Helvetica, sans-serif;
	font-size:100%;
	color:#da620b;
	text-align: center;
}

input, label { 
	font-size:100%;
	text-align: center;
	font-family: 'BebasNeueRegular',Arial, Helvetica, sans-serif;
	color: #da620b;
}

input {
	font-size:100%;
	padding: 0%;
	border: solid 1px #E5E5E5;
	outline: 0;
	width: 30%;
	height: 100%;
	max-width: 80%;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

.menuInput {
	width: 80%;
}

.wordForm {
	width: 500px;
}

input:hover, textarea:hover,
input:focus, textarea:focus { 
	border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

.form label { 
	margin-left: 10px; 
	color: #898989; 
	display: block;
}

button {
	font-family: 'BebasNeueRegular',Arial, Helvetica, sans-serif;
	font-size:100%;
	color: #da620b;
	border:1px solid #d5d5d5;
	background-color:white;
	text-align:center;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

button:hover {
	background-color:#da620b;
	color:white;
}

.picsDiv, .phonDiv, .listDiv, .center {
	font-size:100%;
	margin-left: 10%;
	width: 80%;
	text-align: center; 
}

.center {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 1%;
	padding-bottom: 1%;
}

.shadow {
	width: 100px;
	height: 100px;
	-webkit-filter: drop-shadow( 0px 0px 1px rgba(0,0,0,0.4) );
			filter: drop-shadow( 0px 0px 1px rgba(0,0,0,0.4) );
}

.choosen {
	width: 100px;
	height: 100px;
	-webkit-animation: myAnim 1s infinite;
	-moz-animation: myAnimMoz 1s infinite;
}

@-webkit-keyframes myAnim
{
  from {-webkit-transform: scale(1,1) }
  50% {-webkit-transform: scale(1.1,1.1)}
  to {-webkit-transform: scale(1,1) }
}

@-moz-keyframes myAnimMoz
{
  from {-moz-transform: scale(1,1) }
  50% {-moz-transform: scale(1.1,1.1)}
  to {-moz-transform: scale(1,1) }
}

@font-face {
	font-family: 'BebasNeueRegular';
	src: url('./fonts/BebasNeue-webfont.eot');
	src: url('./fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/BebasNeue-webfont.woff') format('woff'),
		 url('./fonts/BebasNeue-webfont.ttf') format('truetype'),
		 url('./fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.popUpBg {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 10;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	text-align: center;
}

.menuBg {
	z-index: 10;
	text-align: center;
	filter: url(sysPics/blur.svg#blur);
	-webkit-filter: blur(1px);
	pointer-events: none;
}

#popUpSuccess {
	-webkit-transition: opacity 0.5s ease-in-out;
	margin-left: 7%;
}

#menuSuccess {
	-webkit-transition: -webkit-filter 0.5s;
	margin-left: 7%;
}

.popUpContent {
	font-family: 'BebasNeueRegular',Arial, Helvetica, sans-serif;
	font-size:16pt;
	color: #da620b;
	border:1px solid #d5d5d5;
	background-color:white;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	height: 300px;
	width: 400px;
	max-height: 100%;
	max-width: 80%;
	position: relative;
	background-color:white;
	z-index: 11;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
}

.centerXY {
	position: fixed;
	margin: 0px;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 11;
}

#popUpContainer {
	position: fixed;
	margin: 0px;
	height: 0%;
	top: 0px;
	left: 0px;
}

#menuContainer {
	position: fixed;
	margin: 0px;
	height: 0%;
	top: 0px;
	left: 0px;
}

.centerXY, #popUpSuccessContent, #menuSuccessContent {
	display: inline-block;
	vertical-align: middle;
}

.leftMenuClose {
	position: fixed;
	margin: 0px;
	height: 100%;
	width: 7%;
	top: 0px;
	left: 0px;
	background-color:#aa2d22;
	z-index: 11;
	opacity: 1;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
}

.leftMenuOpen {
	position: fixed;
	margin: 0px;
	height: 100%;
	width: 25%;
	top: 0px;
	left: 0px;
	background-color:#aa2d22;
	z-index: 11;
	opacity: 1;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	/*BACKGROUND-IMAGE: url("sysPics/LogoSerrure.svg");
	background-repeat: no-repeat;
 	background-position : 50% 0%;
 	background-size: 80%;*/
}

@media (orientation:portrait) {
	.leftMenuOpen {
		width: 100%;
		background-size: 50%;
	}
}